body {
  background-color: white;
}

.heading {
  background: transparent;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding: 10px;
}
  
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 2rem;
  padding: 0 0 15px 0;
}

label {
  font-size: 12px;
}
  
.input-area {
  margin: 30px 0;
  padding: 0 10px;
  width: 90%;
  text-align: right;
}

.form-group input, .form-group select, .form-group textarea {
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey !important;
  border-radius: 2rem;
  padding: 5px 10px !important;
  font-size: 12px !important;
}

textarea {
  border-radius: 1rem !important;
}

.btn-add, .btn-edit {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  color: white;
  font-weight: 900;
  font-size: 12px;
  background-color: #034077;
  border: none;
}

.btn-add:hover, .btn-edit:hover {
  background: linear-gradient(131deg, #038ceb 26.77%, #18c9fe 95%);
}

button:focus {
  outline: none !important;
}

table {
  width: 700px;
  padding: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
}

th, td {
  font-size: 12px;
  padding: 5px;
}

.action {
  text-align: center;
}

.btn-completed, .btn-remove {
  width: 28px;
  font-size: 14px;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.modal-content {
  border-radius: 2rem !important;
}

/* Datatable Adjustments */
.table-responsive {
  width: 97% !important;
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 20px !important;
}

.container {
  width: 100% !important;
}

/* Login Page Styling */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: snow;
}

.login-row {
  width: 60%;
  display: flex;
  justify-content: center;
  height: 70%;
}

.login-image {
  flex: 1;
}

.login-image img {
  width: 100%;
  height: -webkit-fill-available;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.login-form {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  text-align: center;
  margin-top: 120px;
  font-weight: 400;
}

.login-form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 100;
}

.login-form form {
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px 40px;
}

.login-form label {
  margin-bottom: 10px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 12px;
  height: 50px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 12px;
  height: 50px;
}

.login-form button:hover {
  background-color: #0056b3;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.logo p {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
}

#anchorlogout {
  text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .row {
    display: block; /* stack the items vertically */
  }

  .col {
    width: 100%;
    margin-bottom: 20px; /* Add space between stacked items */
  }

  .btn-add, .btn-edit {
    width: 100%; /* Full width buttons for mobile */
  }
}
